/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


.ramecek {
    border-bottom:	4px dashed rgb(192, 255, 196);
    margin-top: 10px;
    margin: 10px 5px 10px 5px;
    margin: 10px 5px;
}

.sirka {
    width: 31%;
}

.odsazeni {
    padding: 30%;
}

body {
   margin: 0; 
   font-family: 'Roboto', 'Arial', 'sans-serif'
}

.box {
    margin: 40px;
    width: 300px;
    height: 300px;
}